<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.N5_team.Calculator">

    <application
        android:allowBackup="true"
                android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.무엇이든물어보셈">
        <activity android:name=".BmiResultActivty"></activity>
        <activity android:name=".donggeunActivity"></activity>
        <activity android:name=".hojinActivity" />
        <activity android:name=".suhwanActivity" />
        <activity android:name=".hoyeongActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".hoyeongActivity_button" />

    </application>

</manifest>